<table class="table table-hover">
    <% github_jobs.forEach(function(job){ %>
                    <tr>
                        <td><img src="<%=job.company_logo %>" class="img-thumbnail" alt="No image" width="304" height="236"></td>
                        <td>
                            <div>
                                <a href="<%=job.url%>"><h4 class="text-primary"><%=job.title %></h4></a>
                                <h5><%=job.company %></h5>
                                <h5><mark><i><%=job.location%></i></mark></h5>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                                    <span class="glyphicon glyphicon-map-marker">&nbsp<b>Map</b></span>
                                </button>
                            </div>                          
                        </td>
                        <td>
                            <div>
                                <p class="text-muted" name="github_jobs"><i><%=job.description%></i></p>
                            </div>
                        </td>
                    </tr>
                <% });%>
</table>