<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-search"></span>
                Job search
            </a>
        </div>
        
        <div class="input-group col-xs-8 searchbox">
            <div class="dropdown input-group-btn">
              <button class="btn btn-primary dropdown-toggle country" type="button" data-toggle="dropdown">Canada
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">CANADA</a></li>
                <li><a href="#">USA</a></li>                
              </ul>
            </div>            
            <div class="input-group">
                <input type="text" id="keyword" class="form-control" placeholder="Keyword,skills"/>
                <span class="input-group-addon">-</span>
                <input type="text" id="location" class="form-control" placeholder="City,Region"/>
            </div>
            <span class="input-group-btn">
                <button id="search" class="btn btn-secondary" type="button"> <span class="glyphicon glyphicon-search"></span>&nbspSearch</button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#settings">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </span>            
        </div>
        
      
    </div>
</nav>
<div id="settings" class="collapse">
    <div class="well">
        Hello
    </div>
</div>