<table class="table table-hover">
                
                    <% jobs.forEach(function(job){ %>
                    <tr>
                        <td class="col-md-2"><img src="../../client/indeed.jpeg" class="img-thumbnail" alt="No image" width="304" height="236"></td>
                        <td>
                            <div>
                                <a href="<%=job.url%>"><h4 class="text-primary"><%=job.jobtitle %></h4></a>
                                <h5><%=job.company %></h5>
                                <h5><mark><i><%=job.city%>,<%=job.state%>,<%=job.country%></i></mark></h5>
                                <button class="btn btn-primary btn-sm" onclick="showMap(this)"  company="<%=job.company %>" latitude="<%=job.latitude%>" longitude="<%=job.longitude%>"  data-toggle="modal" data-target="#mapModal">
                                    <span class="glyphicon glyphicon-map-marker">&nbsp<b>Map</b></span>
                                </button>
                            </div>                          
                        </td>
                        <td>
                            <div>
                                <p class="text-muted"><i><%-job.snippet%></blockquote></p>
                            </div>
                        </td>
                    </tr>
                <% });%>
</table>