<table class="table table-hover">
<% usa_jobs.forEach(function(job){ %>
                    <tr>
                        <td><img src="../../client/usajobs.jpg" class="img-thumbnail" alt="No image" width="304" height="236"></td>
                        <td>
                            <div>
                                <a href="<%=job.MatchedObjectDescriptor.PositionURI %>">
                                    <h4 class="text-primary"><%=job.MatchedObjectDescriptor.PositionTitle %></h4></a>
                                <h5><%=job.MatchedObjectDescriptor.OrganizationName %></h5>
                                <h5><mark><i><%=job.MatchedObjectDescriptor.PositionLocation[0].LocationName%></i></mark></h5>
                                <button class="btn btn-primary btn-sm" onclick="showMap(this)" latitude="<%=job.MatchedObjectDescriptor.PositionLocation[0].Latitude%>"
                                longitude="<%=job.MatchedObjectDescriptor.PositionLocation[0].Longitude%>"
                                 comapny="<%=job.MatchedObjectDescriptor.OrganizationName %>" data-toggle="modal" 
                                        data-target="#mapModal">
                                    <span class="glyphicon glyphicon-map-marker">&nbsp<b>Map</b></span>
                                </button>
                            </div>                          
                        </td>
                        <td>
                            <div >
                                <p class="text-muted" name="usa_jobs"><i><%-job.MatchedObjectDescriptor.QualificationSummary%></p>
                            </div>
                        </td>
                    </tr>
                <% });%>
</table>