<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="container">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#indeed">Indeed<span class="badge"><%-jobs.length %></span></a></li>
                <li><a data-toggle="pill" href="#usajobs">USAGov<span class="badge"><%-usa_jobs.length%></span></a></li>
                <li><a data-toggle="pill" href="#github">Github<span class="badge"><%-github_jobs.length%></span></a></li>
                <li><a data-toggle="pill" href="#neuvoo">Neuvoo<span class="badge"><%-neuvoo_jobs.length%></span></a></li>
            </ul>
            <div class="tab-content">
                <div id="indeed" class="tab-pane fade in active">
                    <% include ../partials/indeed %>
                </div>
                <div id="usajobs" class="tab-pane fade">
                    <% include ../partials/usagov %>
                </div>
                <div id="github" class="tab-pane fade">
                    <% include ../partials/github %>
                </div>
                <div id="neuvoo" class="tab-pane fade">
                   <% include ../partials/neuvoo %> 
                </div>                     
            </div>
            <!--Modal content-->
            <div class="modal fade" id="mapModal" role="dialog">
                <div class="modal-dialog">  
                   <div class="modal-content">
                        <div class="modal-header">
                            
                        </div>
                        <div class="modal-body"  id="showMap" style="height:400px">
                                
                        </div>
                        <div class="modal-footer">

                        </div>
                  </div>      
                </div>
            </div> 
            
        </div>

        
    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>